.form {
  width: 100%;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  input,
  textarea {
    width: 100%;
  }
}

.buttons {
  width: 30%;
  margin-top: 20px;
}

.button {
  width: 50%;
  height: 30px;
}

.error {
  color: red;
}