.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.step {
    width: 33.33%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    opacity: .5;

    &._active {
        opacity: 1;
     }
}