.wrapper {
  width: 100%;
  height: 100%;
  padding: 0 .6rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.empty {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 5%;
}

.loading {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 15%;
}

.error {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 15%;
  color: red;
}